* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    color: #293264;
    background-color: #F5F7FB;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Karla", sans-serif;
    margin: 0;
}

p {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 450px;
    margin: 0 auto;
}

.start-screen {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form .question {
    border-bottom: 1px solid grey;
    padding: 2em;
}
form .answers {
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
    padding-top: 1em;
}

form label {
    display: inline-block;
    padding: .5em 1em;
    cursor: pointer;
    border: 2px solid #293264;
    border-radius: 8px;
    background-color: #F5F7FB;
    color: #293264;
    font-weight: 400;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* Hide the default radio button visually, but keep it accessible for screen readers */
form input[type="radio"] {
  /* Do not use display: none; as it negatively impacts accessibility and keyboard navigation */
  position: absolute;
  opacity: 0;
  z-index: -1; /* Ensures the input is behind the label but still clickable via the label */
}

form input[type="radio"]:checked + label {
  background-color: #D6DBF5; /* Button color when active */

}

/* Add hover effects for better user experience */
form label:hover {
  background-color: #D6DBF5;
}

/* Style the label when its associated radio input has focus (important for keyboard accessibility) */
form input[type="radio"]:focus + label {
  outline: 2px solid #D6DBF5;
  outline-offset: 2px;
}

button {
    background-color: #293264;
    color: #fff;
    padding: 1em 2em;
    border-radius: 8px;
}

.btn {
    margin: 2em;
}